.abouticon {
    width: 40px;
    vertical-align: middle;
    padding: 1em;
}

p.markdown-image img {
    border: solid 2px #2a2437;

}

.post-image {
    border: solid 2px #41403E;

}

/* (A) LIGHTBOX BACKGROUND */
#lightbox {
    /* (A1) COVERS FULLSCREEN */
    position: fixed; z-index: 999;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
   
    /* (A2) BACKGROUND */
    background: rgba(0, 0, 0, 0.5);
   
    /* (A3) CENTER IMAGE ON SCREEN */
    display: flex;
    align-items: center;
    align-items: center;
   
    /* (A4) HIDDEN BY DEFAULT */
    visibility: hidden;
    opacity: 0;
   
    /* (A5) SHOW/HIDE ANIMATION */
    transition: opacity ease 0.4s;
  }
   
  /* (A6) TOGGLE VISIBILITY */
  #lightbox.show {
    visibility: visible;
    opacity: 1;
  }
   
  /* (B) LIGHTBOX IMAGE */
  #lightbox img {
    /* (B1) DIMENSIONS */
    width: 100%;
    height: auto;
   
    /* (B2) IMAGE FIT */
    /* contain | cover | fill | scale-down */
    object-fit: cover;
  }
   
  .img-note {
    margin-top: -1em;
    float: right;
    font-style: italic;
  }

  .note {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #dbebf4;
    border: solid 1px #3498db;
    border-radius: 6px;
    line-height: 18px;
    overflow:hidden;
    padding: 12px;
    color: #404040;
    line-height: 1.75;
    letter-spacing: 0.008em;
  }

  a.download-button {
    color: #fff;
    background-color: #0062c7;
    padding: 16px 10px 8px 10px;
    border-radius: 4px;
    text-decoration: none;
  }

  .githubref_title {
    line-height: 1.2;
    font-size: 1.30em;    
  }